<a href="https://colab.research.google.com/github/MeghaGhosh/AVM-airbnb/blob/master/airbnbpredict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
%cd drive

/content/drive

In [0]:
%cd 'My Drive'

/content/drive/My Drive

In [0]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
import numpy as np

train_df = pd.read_csv('AB_NYC_2019.csv')
train_df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [0]:
train_df['neighbourhood_group'].replace(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],[0,1,2,3,4],inplace=True)
train_df['room_type'].replace(['Private room', 'Entire home/apt', 'Shared room'],[0,1,2],inplace=True)
train_df['reviews_per_month'].fillna(0, inplace = True)
train_df['neighbourhood'].replace(['Kensington', 'Midtown', 'Harlem', 'Clinton Hill', 'East Harlem',
       'Murray Hill', 'Bedford-Stuyvesant', "Hell's Kitchen",
       'Upper West Side', 'Chinatown', 'South Slope', 'West Village',
       'Williamsburg', 'Fort Greene', 'Chelsea', 'Crown Heights',
       'Park Slope', 'Windsor Terrace', 'Inwood', 'East Village',
       'Greenpoint', 'Bushwick', 'Flatbush', 'Lower East Side',
       'Prospect-Lefferts Gardens', 'Long Island City', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Prospect Heights',
       'Washington Heights', 'Woodside', 'Brooklyn Heights',
       'Carroll Gardens', 'Gowanus', 'Flatlands', 'Cobble Hill',
       'Flushing', 'Boerum Hill', 'Sunnyside', 'DUMBO', 'St. George',
       'Highbridge', 'Financial District', 'Ridgewood',
       'Morningside Heights', 'Jamaica', 'Middle Village', 'NoHo',
       'Ditmars Steinway', 'Flatiron District', 'Roosevelt Island',
       'Greenwich Village', 'Little Italy', 'East Flatbush',
       'Tompkinsville', 'Astoria', 'Clason Point', 'Eastchester',
       'Kingsbridge', 'Two Bridges', 'Queens Village', 'Rockaway Beach',
       'Forest Hills', 'Nolita', 'Woodlawn', 'University Heights',
       'Gravesend', 'Gramercy', 'Allerton', 'East New York',
       'Theater District', 'Concourse Village', 'Sheepshead Bay',
       'Emerson Hill', 'Fort Hamilton', 'Bensonhurst', 'Tribeca',
       'Shore Acres', 'Sunset Park', 'Concourse', 'Elmhurst',
       'Brighton Beach', 'Jackson Heights', 'Cypress Hills', 'St. Albans',
       'Arrochar', 'Rego Park', 'Wakefield', 'Clifton', 'Bay Ridge',
       'Graniteville', 'Spuyten Duyvil', 'Stapleton', 'Briarwood',
       'Ozone Park', 'Columbia St', 'Vinegar Hill', 'Mott Haven',
       'Longwood', 'Canarsie', 'Battery Park City', 'Civic Center',
       'East Elmhurst', 'New Springville', 'Morris Heights', 'Arverne',
       'Cambria Heights', 'Tottenville', 'Mariners Harbor', 'Concord',
       'Borough Park', 'Bayside', 'Downtown Brooklyn', 'Port Morris',
       'Fieldston', 'Kew Gardens', 'Midwood', 'College Point',
       'Mount Eden', 'City Island', 'Glendale', 'Port Richmond',
       'Red Hook', 'Richmond Hill', 'Bellerose', 'Maspeth',
       'Williamsbridge', 'Soundview', 'Woodhaven', 'Woodrow',
       'Co-op City', 'Stuyvesant Town', 'Parkchester', 'North Riverdale',
       'Dyker Heights', 'Bronxdale', 'Sea Gate', 'Riverdale',
       'Kew Gardens Hills', 'Bay Terrace', 'Norwood', 'Claremont Village',
       'Whitestone', 'Fordham', 'Bayswater', 'Navy Yard', 'Brownsville',
       'Eltingville', 'Fresh Meadows', 'Mount Hope', 'Lighthouse Hill',
       'Springfield Gardens', 'Howard Beach', 'Belle Harbor',
       'Jamaica Estates', 'Van Nest', 'Morris Park', 'West Brighton',
       'Far Rockaway', 'South Ozone Park', 'Tremont', 'Corona',
       'Great Kills', 'Manhattan Beach', 'Marble Hill', 'Dongan Hills',
       'Castleton Corners', 'East Morrisania', 'Hunts Point', 'Neponsit',
       'Pelham Bay', 'Randall Manor', 'Throgs Neck', 'Todt Hill',
       'West Farms', 'Silver Lake', 'Morrisania', 'Laurelton',
       'Grymes Hill', 'Holliswood', 'Pelham Gardens', 'Belmont',
       'Rosedale', 'Edgemere', 'New Brighton', 'Midland Beach',
       'Baychester', 'Melrose', 'Bergen Beach', 'Richmondtown',
       'Howland Hook', 'Schuylerville', 'Coney Island', 'New Dorp Beach',
       "Prince's Bay", 'South Beach', 'Bath Beach', 'Jamaica Hills',
       'Oakwood', 'Castle Hill', 'Hollis', 'Douglaston', 'Huguenot',
       'Olinville', 'Edenwald', 'Grant City', 'Westerleigh',
       'Bay Terrace, Staten Island', 'Westchester Square', 'Little Neck',
       'Fort Wadsworth', 'Rosebank', 'Unionport', 'Mill Basin',
       'Arden Heights', "Bull's Head", 'New Dorp', 'Rossville',
       'Breezy Point', 'Willowbrook'],[i for i in range(221)], inplace = True)

In [0]:
train_df = train_df.drop(['id','name','host_id','latitude','longitude','host_name','last_review'],axis=1)

In [0]:
train_df

       neighbourhood_group  ...  availability_365
0                        0  ...               365
1                        1  ...               355
2                        1  ...               365
3                        0  ...               194
4                        1  ...                 0
5                        1  ...               129
6                        0  ...                 0
7                        1  ...               220
8                        1  ...                 0
9                        1  ...               188
10                       1  ...                 6
11                       1  ...                39
12                       0  ...               314
13                       1  ...               333
14                       1  ...                 0
15                       0  ...                46
16                       0  ...               321
17                       1  ...                12
18                       0  ...                21
19                       1  ...               249
20                       0  ...                 0
21                       0  ...               347
22                       0  ...               364
23                       0  ...               304
24                       0  ...               233
25                       0  ...                85
26                       1  ...                 0
27                       1  ...                75
28                       1  ...               311
29                       1  ...                67
...                    ...  ...               ...
48865                    1  ...                79
48866                    2  ...               159
48867                    0  ...               338
48868                    0  ...               365
48869                    0  ...                 7
48870                    0  ...                22
48871                    1  ...                31
48872                    1  ...                 9
48873                    0  ...               363
48874                    1  ...                22
48875                    1  ...               180
48876                    1  ...                26
48877                    0  ...                16
48878                    2  ...               172
48879                    0  ...                22
48880                    0  ...               365
48881                    0  ...                15
48882                    0  ...                31
48883                    1  ...               364
48884                    0  ...               341
48885                    1  ...               353
48886                    1  ...               176
48887                    0  ...               365
48888                    1  ...                31
48889                    2  ...               163
48890                    0  ...                 9
48891                    0  ...                36
48892                    1  ...                27
48893                    1  ...                 2
48894                    1  ...                23

[48895 rows x 9 columns]

In [0]:
from keras.models import Sequential
from keras.layers.normalization import BatchNormalization
from keras.layers.core import Activation
from keras.layers.core import Dropout
from keras.layers.core import Dense
from keras.layers import Flatten
from keras.layers import Input
from keras.models import Model
 
def create_mlp(dim, regress=False):
  model = Sequential()
  model.add(Dense(8, input_dim=dim, activation="relu"))
  model.add(Dense(4, activation="relu"))
  if regress:
    model.add(Dense(1, activation="linear"))
    
  return model

Using TensorFlow backend.

In [0]:
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split

In [0]:
(train, test) = train_test_split(train_df, test_size=0.25, random_state=42)

In [0]:
maxPrice = train['price'].max()
trainY = train['price'] / maxPrice
testY = test['price'] / maxPrice

In [0]:
scaler = MinMaxScaler(feature_range=(0, 1))
trainContinuous = scaler.fit_transform(train)
testContinuous = scaler.fit_transform(test)
train1 = train['price']
test1 = test['price']
train2 = train1.values.reshape(-1,1)
test2 = test1.values.reshape(-1,1)
trainCategorical = scaler.fit_transform(train2)
testCategorical = scaler.fit_transform(test2)
trainX = np.hstack([trainCategorical, trainContinuous])
testX = np.hstack([testCategorical, testContinuous])

In [0]:
model = create_mlp(trainX.shape[1], regress=True)
opt = Adam(lr=1e-3, decay=1e-3 / 200)
model.compile(loss="mean_absolute_percentage_error", optimizer=opt)
 
print("Training model...")
model.fit(trainX, trainY, validation_data=(testX, testY),
	epochs=200, batch_size=8)

Training model...
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 36671 samples, validate on 12224 samples
Epoch 1/200
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

36671/36671 [==============================] - 6s 170us/step - loss: 2282.9994 - val_loss: 2237.3501
Epoch 2/200
36671/36671 [==============================] - 6s 153us/step - loss: 2107.6821 - val_loss: 4724.4590
Epoch 3/200
36671/36671 [==============================] - 6s 169us/step - loss: 2998.2465 - val_loss: 1403.1360
Epoch 4/200
36671/36671 [==============================] - 6s 163us/step - loss: 2110.1718 - val_loss: 1969.0786
Epoch 5/200
36671/36671 [==============================] - 6s 153us/step - loss: 2035.4006 - val_loss: 2052.5001
Epoch 6/200
36671/36671 [==============================] - 6s 154us/step - loss: 4370.1163 - val_loss: 559.5652
Epoch 7/200
36671/36671 [==============================] - 6s 157us/step - loss: 2417.8271 - val_loss: 1641.2560
Epoch 8/200
36671/36671 [==============================] - 6s 152us/step - loss: 3113.9492 - val_loss: 2337.2463
Epoch 9/200
36671/36671 [==============================] - 6s 158us/step - loss: 2411.0353 - val_loss: 59.7492
Epoch 10/200
36671/36671 [==============================] - 6s 153us/step - loss: 2200.9487 - val_loss: 2122.8324
Epoch 11/200
36671/36671 [==============================] - 6s 156us/step - loss: 2291.0106 - val_loss: 1399.9503
Epoch 12/200
36671/36671 [==============================] - 6s 155us/step - loss: 2077.2156 - val_loss: 2650.1753
Epoch 13/200
36671/36671 [==============================] - 6s 155us/step - loss: 2732.0139 - val_loss: 550.1476
Epoch 14/200
36671/36671 [==============================] - 6s 156us/step - loss: 2608.7536 - val_loss: 1454.1934
Epoch 15/200
36671/36671 [==============================] - 6s 154us/step - loss: 1893.4252 - val_loss: 1267.2995
Epoch 16/200
36671/36671 [==============================] - 6s 156us/step - loss: 1508.9243 - val_loss: 1750.6403
Epoch 17/200
36671/36671 [==============================] - 6s 152us/step - loss: 2448.2252 - val_loss: 704.6954
Epoch 18/200
36671/36671 [==============================] - 6s 153us/step - loss: 2199.8761 - val_loss: 1735.3083
Epoch 19/200
36671/36671 [==============================] - 6s 156us/step - loss: 1969.9672 - val_loss: 127.2460
Epoch 20/200
36671/36671 [==============================] - 6s 154us/step - loss: 1675.2393 - val_loss: 572.7845
Epoch 21/200
36671/36671 [==============================] - 6s 154us/step - loss: 1847.7411 - val_loss: 580.2492
Epoch 22/200
36671/36671 [==============================] - 6s 155us/step - loss: 2008.7926 - val_loss: 3243.8747
Epoch 23/200
36671/36671 [==============================] - 6s 154us/step - loss: 2247.7602 - val_loss: 310.8298
Epoch 24/200
36671/36671 [==============================] - 6s 154us/step - loss: 2255.2205 - val_loss: 760.8353
Epoch 25/200
36671/36671 [==============================] - 6s 155us/step - loss: 1554.7499 - val_loss: 3518.2550
Epoch 26/200
36671/36671 [==============================] - 6s 153us/step - loss: 1991.6807 - val_loss: 279.6138
Epoch 27/200
36671/36671 [==============================] - 6s 157us/step - loss: 1518.4414 - val_loss: 1557.3393
Epoch 28/200
36671/36671 [==============================] - 6s 155us/step - loss: 2148.7553 - val_loss: 1607.3829
Epoch 29/200
36671/36671 [==============================] - 6s 154us/step - loss: 1569.0204 - val_loss: 2106.0410
Epoch 30/200
36671/36671 [==============================] - 6s 155us/step - loss: 1613.4512 - val_loss: 530.6901
Epoch 31/200
36671/36671 [==============================] - 6s 153us/step - loss: 1511.2279 - val_loss: 720.2719
Epoch 32/200
36671/36671 [==============================] - 6s 158us/step - loss: 1766.2002 - val_loss: 696.6515
Epoch 33/200
36671/36671 [==============================] - 6s 152us/step - loss: 2028.4271 - val_loss: 1795.7456
Epoch 34/200
36671/36671 [==============================] - 6s 156us/step - loss: 1671.4059 - val_loss: 598.1933
Epoch 35/200
36671/36671 [==============================] - 6s 154us/step - loss: 1210.7826 - val_loss: 1988.5760
Epoch 36/200
36671/36671 [==============================] - 6s 156us/step - loss: 1445.9485 - val_loss: 267.2139
Epoch 37/200
36671/36671 [==============================] - 6s 159us/step - loss: 1947.6782 - val_loss: 1520.9732
Epoch 38/200
36671/36671 [==============================] - 6s 153us/step - loss: 1502.1869 - val_loss: 1056.1657
Epoch 39/200
36671/36671 [==============================] - 6s 156us/step - loss: 1340.5814 - val_loss: 503.4624
Epoch 40/200
36671/36671 [==============================] - 6s 155us/step - loss: 1444.8168 - val_loss: 834.8303
Epoch 41/200
36671/36671 [==============================] - 6s 155us/step - loss: 1527.5026 - val_loss: 636.4507
Epoch 42/200
36671/36671 [==============================] - 6s 156us/step - loss: 1382.3126 - val_loss: 916.6760
Epoch 43/200
36671/36671 [==============================] - 6s 156us/step - loss: 1114.1357 - val_loss: 1536.3159
Epoch 44/200
36671/36671 [==============================] - 6s 152us/step - loss: 1450.0770 - val_loss: 152.0372
Epoch 45/200
36671/36671 [==============================] - 6s 154us/step - loss: 1166.9516 - val_loss: 1442.2292
Epoch 46/200
36671/36671 [==============================] - 6s 159us/step - loss: 1453.0890 - val_loss: 1334.9773
Epoch 47/200
36671/36671 [==============================] - 6s 156us/step - loss: 1531.2028 - val_loss: 738.9966
Epoch 48/200
36671/36671 [==============================] - 6s 153us/step - loss: 1476.9285 - val_loss: 276.3355
Epoch 49/200
36671/36671 [==============================] - 6s 153us/step - loss: 1537.0557 - val_loss: 1330.2964
Epoch 50/200
36671/36671 [==============================] - 6s 152us/step - loss: 1696.9974 - val_loss: 386.8999
Epoch 51/200
36671/36671 [==============================] - 6s 154us/step - loss: 1429.5891 - val_loss: 1478.0012
Epoch 52/200
36671/36671 [==============================] - 6s 155us/step - loss: 1564.3691 - val_loss: 258.4202
Epoch 53/200
36671/36671 [==============================] - 6s 152us/step - loss: 1294.0246 - val_loss: 1145.3471
Epoch 54/200
36671/36671 [==============================] - 6s 157us/step - loss: 1278.3944 - val_loss: 122.3090
Epoch 55/200
36671/36671 [==============================] - 6s 152us/step - loss: 975.6600 - val_loss: 1588.9292
Epoch 56/200
36671/36671 [==============================] - 6s 154us/step - loss: 1027.4362 - val_loss: 426.2747
Epoch 57/200
36671/36671 [==============================] - 6s 160us/step - loss: 1039.2717 - val_loss: 1464.4367
Epoch 58/200
36671/36671 [==============================] - 6s 168us/step - loss: 1133.6831 - val_loss: 755.2639
Epoch 59/200
36671/36671 [==============================] - 6s 159us/step - loss: 1180.8769 - val_loss: 120.4692
Epoch 60/200
36671/36671 [==============================] - 6s 154us/step - loss: 1091.1563 - val_loss: 1317.0498
Epoch 61/200
36671/36671 [==============================] - 6s 157us/step - loss: 1491.0150 - val_loss: 689.6502
Epoch 62/200
36671/36671 [==============================] - 6s 155us/step - loss: 939.8374 - val_loss: 1267.5878
Epoch 63/200
36671/36671 [==============================] - 6s 154us/step - loss: 1223.6729 - val_loss: 185.2047
Epoch 64/200
36671/36671 [==============================] - 6s 157us/step - loss: 808.8096 - val_loss: 1624.6007
Epoch 65/200
36671/36671 [==============================] - 6s 154us/step - loss: 859.9456 - val_loss: 544.8423
Epoch 66/200
36671/36671 [==============================] - 6s 153us/step - loss: 2178.9454 - val_loss: 685.4217
Epoch 67/200
36671/36671 [==============================] - 6s 156us/step - loss: 1598.2587 - val_loss: 1174.3582
Epoch 68/200
36671/36671 [==============================] - 6s 159us/step - loss: 1482.6459 - val_loss: 446.5549
Epoch 69/200
36671/36671 [==============================] - 6s 152us/step - loss: 1060.6968 - val_loss: 1343.7384
Epoch 70/200
36671/36671 [==============================] - 6s 152us/step - loss: 1447.8378 - val_loss: 740.6944
Epoch 71/200
36671/36671 [==============================] - 6s 152us/step - loss: 1058.7810 - val_loss: 851.1634
Epoch 72/200
36671/36671 [==============================] - 6s 152us/step - loss: 1077.6730 - val_loss: 1015.1401
Epoch 73/200
36671/36671 [==============================] - 6s 153us/step - loss: 1145.5845 - val_loss: 352.3110
Epoch 74/200
36671/36671 [==============================] - 6s 153us/step - loss: 953.3907 - val_loss: 931.3060
Epoch 75/200
36671/36671 [==============================] - 6s 153us/step - loss: 2076.4733 - val_loss: 294.6317
Epoch 76/200
36671/36671 [==============================] - 6s 152us/step - loss: 1637.7984 - val_loss: 1071.9958
Epoch 77/200
36671/36671 [==============================] - 6s 152us/step - loss: 1792.0770 - val_loss: 470.8690
Epoch 78/200
36671/36671 [==============================] - 6s 154us/step - loss: 1265.6262 - val_loss: 1164.3261
Epoch 79/200
36671/36671 [==============================] - 6s 157us/step - loss: 1064.1898 - val_loss: 722.0975
Epoch 80/200
36671/36671 [==============================] - 6s 154us/step - loss: 1318.2068 - val_loss: 1095.0579
Epoch 81/200
36671/36671 [==============================] - 6s 156us/step - loss: 1247.2554 - val_loss: 1180.6012
Epoch 82/200
36671/36671 [==============================] - 6s 151us/step - loss: 1039.0493 - val_loss: 304.4512
Epoch 83/200
36671/36671 [==============================] - 6s 152us/step - loss: 986.0858 - val_loss: 1264.9723
Epoch 84/200
36671/36671 [==============================] - 6s 152us/step - loss: 895.3313 - val_loss: 152.7065
Epoch 85/200
36671/36671 [==============================] - 6s 153us/step - loss: 964.8862 - val_loss: 1086.7240
Epoch 86/200
36671/36671 [==============================] - 6s 152us/step - loss: 1141.6540 - val_loss: 172.9376
Epoch 87/200
36671/36671 [==============================] - 6s 153us/step - loss: 916.3874 - val_loss: 835.2708
Epoch 88/200
36671/36671 [==============================] - 6s 154us/step - loss: 909.1482 - val_loss: 607.3380
Epoch 89/200
36671/36671 [==============================] - 6s 154us/step - loss: 901.8144 - val_loss: 297.3388
Epoch 90/200
36671/36671 [==============================] - 6s 153us/step - loss: 1221.2650 - val_loss: 903.2134
Epoch 91/200
36671/36671 [==============================] - 6s 154us/step - loss: 1051.7210 - val_loss: 140.0606
Epoch 92/200
36671/36671 [==============================] - 6s 151us/step - loss: 856.7483 - val_loss: 638.8936
Epoch 93/200
36671/36671 [==============================] - 6s 155us/step - loss: 981.2089 - val_loss: 1107.7189
Epoch 94/200
36671/36671 [==============================] - 6s 153us/step - loss: 1214.6439 - val_loss: 382.8547
Epoch 95/200
36671/36671 [==============================] - 6s 153us/step - loss: 839.0843 - val_loss: 710.5774
Epoch 96/200
36671/36671 [==============================] - 6s 153us/step - loss: 991.6557 - val_loss: 457.9888
Epoch 97/200
36671/36671 [==============================] - 6s 153us/step - loss: 822.1893 - val_loss: 160.8168
Epoch 98/200
36671/36671 [==============================] - 6s 151us/step - loss: 802.6863 - val_loss: 1189.0675
Epoch 99/200
36671/36671 [==============================] - 6s 152us/step - loss: 1005.6970 - val_loss: 547.3028
Epoch 100/200
36671/36671 [==============================] - 6s 163us/step - loss: 967.5130 - val_loss: 938.3442
Epoch 101/200
36671/36671 [==============================] - 6s 153us/step - loss: 839.2179 - val_loss: 289.4413
Epoch 102/200
36671/36671 [==============================] - 6s 153us/step - loss: 876.7376 - val_loss: 820.7638
Epoch 103/200
36671/36671 [==============================] - 6s 153us/step - loss: 738.4531 - val_loss: 723.9416
Epoch 104/200
36671/36671 [==============================] - 6s 153us/step - loss: 762.4854 - val_loss: 988.5084
Epoch 105/200
36671/36671 [==============================] - 6s 151us/step - loss: 929.1829 - val_loss: 112.3247
Epoch 106/200
36671/36671 [==============================] - 6s 151us/step - loss: 816.7107 - val_loss: 353.6728
Epoch 107/200
36671/36671 [==============================] - 6s 153us/step - loss: 794.6741 - val_loss: 796.1183
Epoch 108/200
36671/36671 [==============================] - 6s 154us/step - loss: 947.4749 - val_loss: 413.7947
Epoch 109/200
36671/36671 [==============================] - 6s 153us/step - loss: 716.1279 - val_loss: 520.7975
Epoch 110/200
36671/36671 [==============================] - 6s 153us/step - loss: 668.8483 - val_loss: 363.5744
Epoch 111/200
36671/36671 [==============================] - 6s 156us/step - loss: 739.0199 - val_loss: 689.3085
Epoch 112/200
36671/36671 [==============================] - 6s 157us/step - loss: 755.9208 - val_loss: 342.6996
Epoch 113/200
36671/36671 [==============================] - 6s 169us/step - loss: 794.1986 - val_loss: 360.2151
Epoch 114/200
36671/36671 [==============================] - 6s 162us/step - loss: 731.0706 - val_loss: 689.6673
Epoch 115/200
36671/36671 [==============================] - 6s 153us/step - loss: 820.5645 - val_loss: 187.8048
Epoch 116/200
36671/36671 [==============================] - 6s 154us/step - loss: 623.8883 - val_loss: 798.2132
Epoch 117/200
36671/36671 [==============================] - 6s 154us/step - loss: 719.4761 - val_loss: 176.5037
Epoch 118/200
36671/36671 [==============================] - 6s 151us/step - loss: 659.9500 - val_loss: 936.4532
Epoch 119/200
36671/36671 [==============================] - 6s 152us/step - loss: 769.2156 - val_loss: 170.5629
Epoch 120/200
36671/36671 [==============================] - 6s 154us/step - loss: 690.2522 - val_loss: 326.2449
Epoch 121/200
36671/36671 [==============================] - 6s 152us/step - loss: 646.7555 - val_loss: 816.2772
Epoch 122/200
36671/36671 [==============================] - 6s 153us/step - loss: 654.2652 - val_loss: 540.3090
Epoch 123/200
36671/36671 [==============================] - 6s 154us/step - loss: 657.3218 - val_loss: 220.1943
Epoch 124/200
36671/36671 [==============================] - 6s 153us/step - loss: 753.5349 - val_loss: 241.7238
Epoch 125/200
36671/36671 [==============================] - 6s 153us/step - loss: 772.3953 - val_loss: 144.4651
Epoch 126/200
36671/36671 [==============================] - 6s 151us/step - loss: 575.2602 - val_loss: 730.5271
Epoch 127/200
36671/36671 [==============================] - 6s 156us/step - loss: 799.9736 - val_loss: 179.2022
Epoch 128/200
36671/36671 [==============================] - 6s 153us/step - loss: 661.6499 - val_loss: 183.5764
Epoch 129/200
36671/36671 [==============================] - 6s 152us/step - loss: 620.3756 - val_loss: 637.8637
Epoch 130/200
36671/36671 [==============================] - 6s 155us/step - loss: 620.8346 - val_loss: 483.7677
Epoch 131/200
36671/36671 [==============================] - 6s 151us/step - loss: 610.8772 - val_loss: 500.1428
Epoch 132/200
36671/36671 [==============================] - 6s 152us/step - loss: 683.6460 - val_loss: 867.6795
Epoch 133/200
36671/36671 [==============================] - 6s 156us/step - loss: 662.3204 - val_loss: 280.4397
Epoch 134/200
36671/36671 [==============================] - 6s 155us/step - loss: 465.8585 - val_loss: 547.3016
Epoch 135/200
36671/36671 [==============================] - 6s 151us/step - loss: 821.5406 - val_loss: 18.6681
Epoch 136/200
36671/36671 [==============================] - 6s 154us/step - loss: 460.5891 - val_loss: 751.4512
Epoch 137/200
36671/36671 [==============================] - 6s 153us/step - loss: 534.1987 - val_loss: 242.7964
Epoch 138/200
36671/36671 [==============================] - 6s 153us/step - loss: 621.0029 - val_loss: 1065.8868
Epoch 139/200
36671/36671 [==============================] - 6s 153us/step - loss: 694.6974 - val_loss: 287.9006
Epoch 140/200
36671/36671 [==============================] - 6s 154us/step - loss: 665.8245 - val_loss: 627.8362
Epoch 141/200
36671/36671 [==============================] - 6s 154us/step - loss: 671.2816 - val_loss: 247.0613
Epoch 142/200
36671/36671 [==============================] - 6s 154us/step - loss: 638.6444 - val_loss: 187.6361
Epoch 143/200
36671/36671 [==============================] - 6s 154us/step - loss: 740.7887 - val_loss: 221.3378
Epoch 144/200
36671/36671 [==============================] - 6s 154us/step - loss: 575.4853 - val_loss: 589.3775
Epoch 145/200
36671/36671 [==============================] - 6s 153us/step - loss: 707.1702 - val_loss: 598.1613
Epoch 146/200
36671/36671 [==============================] - 6s 152us/step - loss: 663.0051 - val_loss: 669.0299
Epoch 147/200
36671/36671 [==============================] - 6s 154us/step - loss: 652.8266 - val_loss: 125.9344
Epoch 148/200
36671/36671 [==============================] - 6s 154us/step - loss: 562.5480 - val_loss: 517.3611
Epoch 149/200
36671/36671 [==============================] - 6s 156us/step - loss: 615.7401 - val_loss: 132.6783
Epoch 150/200
36671/36671 [==============================] - 6s 150us/step - loss: 426.1172 - val_loss: 783.9046
Epoch 151/200
36671/36671 [==============================] - 6s 154us/step - loss: 834.2643 - val_loss: 179.9874
Epoch 152/200
36671/36671 [==============================] - 6s 152us/step - loss: 666.3456 - val_loss: 1099.2603
Epoch 153/200
36671/36671 [==============================] - 6s 154us/step - loss: 733.1763 - val_loss: 116.1849
Epoch 154/200
36671/36671 [==============================] - 6s 159us/step - loss: 688.7314 - val_loss: 1155.9155
Epoch 155/200
36671/36671 [==============================] - 6s 154us/step - loss: 913.0435 - val_loss: 224.7410
Epoch 156/200
36671/36671 [==============================] - 6s 154us/step - loss: 770.9148 - val_loss: 657.7446
Epoch 157/200
36671/36671 [==============================] - 6s 152us/step - loss: 629.9767 - val_loss: 261.6124
Epoch 158/200
36671/36671 [==============================] - 6s 157us/step - loss: 734.4193 - val_loss: 387.0898
Epoch 159/200
36671/36671 [==============================] - 6s 154us/step - loss: 635.0248 - val_loss: 279.1936
Epoch 160/200
36671/36671 [==============================] - 6s 155us/step - loss: 639.0352 - val_loss: 1116.1063
Epoch 161/200
36671/36671 [==============================] - 6s 151us/step - loss: 722.8647 - val_loss: 174.2123
Epoch 162/200
36671/36671 [==============================] - 6s 157us/step - loss: 581.3988 - val_loss: 217.2220
Epoch 163/200

In [0]:
prediction = model.predict(testX)
print("Valuation for first 20 rows..")
for i in range(20):
  y_0 = prediction[i][0]
  y_0 *= 10000
  print("AirBnb Property Prediction  - ${}".format(y_0))

Automated Valuation for rows..
AirBnb Property Prediction  - $74.84195288270712
AirBnb Property Prediction  - $22.735707461833954
AirBnb Property Prediction  - $102.58428752422333
AirBnb Property Prediction  - $352.68720239400864
AirBnb Property Prediction  - $157.22284093499184
AirBnb Property Prediction  - $135.609433054924
AirBnb Property Prediction  - $81.4594142138958
AirBnb Property Prediction  - $55.301920510828495
AirBnb Property Prediction  - $120.55186554789543
AirBnb Property Prediction  - $64.55449853092432
AirBnb Property Prediction  - $16.78232685662806
AirBnb Property Prediction  - $160.25368124246597
AirBnb Property Prediction  - $180.95795065164566
AirBnb Property Prediction  - $42.7189702168107
AirBnb Property Prediction  - $85.52375249564648
AirBnb Property Prediction  - $89.10888805985451
AirBnb Property Prediction  - $95.11781856417656
AirBnb Property Prediction  - $83.84746499359608
AirBnb Property Prediction  - $103.13782840967178
AirBnb Property Prediction  - $184.57097932696342